<footer class="footer">
  <div class="footer-links">
    <span>Audio y subtítulos</span>
    <span>Subtítulos cerrados</span>
    <span>Centro de ayuda</span>
    <span>Tarjetas de regalo</span>
    <span>Prensa</span>
    <span>Relaciones con inversionistas</span>
    <span>Empleo</span>
    <span>Términos de uso</span>
    <span>Privacidad</span>
    <span>Avisos legales</span>
    <span>Preferencias de cookies</span>
    <span>Información corporativa</span>
    <span>Contáctanos</span>
  </div>
  <p class="footer-copyright">© {{ currentYear }} Netflix Clone - Hecho con Angular</p>
</footer>
